@import url("../../styles/default.module.css");
.main__layout {
  display: grid;
  grid-template-areas:
    "sidebar"
    "menus"
    "topbar";
  overflow: hidden;
  grid-template-columns: auto;
  grid-template-rows: 100px auto 50px;
}

.main__layout--sidebarPosition {
  grid-area: sidebar;

}

.main__layout--topbar {
  grid-area: topbar;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
}



.main__layout--menu {
  grid-area: menus;
  margin-top: 20px;     
  margin-bottom: 200px;   
  overflow-y: auto;
  height: calc(100vh - 20px - 200px -80px);
  width: 100%;
}

@media (min-width: 616px) and (max-width: 1500px)  {

  .main__layout {
  display: grid;
  grid-template-areas:
    "sidebar"
    "menus"
    "topbar";
  overflow: hidden;
  grid-template-columns: auto;
  grid-template-rows: 100px auto 100px;
}

    .main__layout--topbar {
  
    height: 100px;
  }
}

@media (min-width: 1501px) {
  .main__layout {
   
      grid-template-columns: 300px auto;
      grid-template-rows: 130px auto;
     grid-template-areas:
      
      "sidebar topbar"
      "sidebar menus";

  }

  .main__layout--topbar {
    grid-area: topbar;
    position: static;
    width: 100%;
    height: 135px;
    z-index: 1;
  }

  .main__layout--menu {
    grid-area: menus;
    margin-top: 0px;     
    margin-bottom: 0px;
    overflow-y: hidden;
    height: 100% ;
    width: 100%;
  }
  .main__layout--sidebarPosition {
    grid-area: sidebar;
    position: static;
    width: 300px; 
    height: 100%;
  }

 
}
