
@import url("../../styles/default.module.css");

.topbar {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: space-between;
  padding: 0px 90px 0px 20px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar__title {
  padding: 0px;
  font-size: 24px;
  font-weight: 600;
}
.topbar__search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin-left: 20px;
    gap : 10px;
    
}

.topbar__search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background-color: var(--color-metal-gray);
  padding: 5px 10px;
   border-radius: 5px;
  transition: color 0.3s ease;
}

.topbar__search-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.topbar__search-button:hover {
  color: #007bff;
    transition: color 0.3s ease;
}